body {
  background-color: rgb(252, 213, 155);
  font-family: "Phetsarath OT", sans-serif;
}
.padd {
  padding: 4px;
  margin-top: 30px;
  text-align: center;
}

/* .border {
  height: 40%;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3);
} */

.imgs {
  width: 100%;
  height: 100%;
}

.image2 {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.text-h4 {
  text-align: center;
  margin-top: 200px;
}

.fonts {
  color: black;
}

.borimg {
  width: 40%;
  height: 60%;
}

.logo {
  width: 40%;
  height: 40px;
}

.btncolor {
  background-color: yellow;
}

.btncolors {
  background-color: yellow;
  color: green;
}

a {
  text-decoration: none;
  color: black;
}

.footer {
  background: linear-gradient(
    0deg,
    rgb(252, 251, 251) 0%,
    rgb(241, 193, 35) 100%
  );


  display: flex;
  flex-direction: column;
}
a:hover {
  color: blue;
}

img {
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.1);
}

.subheading {
  text-align: start;
}

.about-me {
  opacity: 0;
  transform: translateY(200px);
  transition: opacity 2s, transform 2s;
}

.about-me.scroll-show {
  opacity: 1;
  transform: translateY(0);
}

.small-card {
  width: 900px;
  height: 100px;
  text-align: center;
  margin-left: 180px;
  margin-top: 20px;
  background-color: rgb(244, 247, 205);
}

.hearts {
  margin-left: 60px;
}

.backg {
  background-color: white;
  display: flex;
}


.lefts {
  margin-left: 600px;
  margin-top: -4px;
}

.border {
  width: 200px;
  height: 95px;
  margin-left: 30px;
  display: flex;
  padding: 10px;
}

.card-col {
  height: 150px;
}

.margin {
  margin-top: -6px;
  margin-left: 30px;
}

.top {
  margin-top: -10px;
  font-size: small;
  margin-right: -10px;

}

.color-hovers:hover {
  color: orange;
}

.user-border {
  margin-top: 4px;
  background: orange;
  border-radius: 10px;
}


@keyframes glow {
  0% {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  50% {
    text-shadow: 0 0 10px rgb(78, 84, 240);
  }
  100% {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
}

/* Apply animation to text */
.motion-text {
  animation: glow 2s infinite alternate;
}

.product-row {
  justify-content: center;
}

.borders {
  text-align: start;
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0.5px 2px 0px 0px #888888;
  background-color: #f1f1f1;
  justify-content: center;
}




.bordered-select {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
}
.inputs-width {
  width: 100%;
}
.up-images {
  max-width: 100px;
  height: auto;
}



.borders:hover {
  background: linear-gradient(
    0deg,
    rgb(252, 251, 251) 0%,
    rgb(241, 193, 35) 100%
  );
}

.text-gray {
  color: #757575;
}

/* Adjust for small screens */
@media (max-width: 600px) {
  .product-col {
    flex: 0 0 calc(50% - 16px); /* Two cards per row */
    max-width: calc(50% - 16px);
    margin-bottom: 16px;
  }
}

/* Adjust for very small screens */
@media (max-width: 300px) {
  .product-col {
    flex: 0 0 100%; /* One card per row */
    max-width: 100%;
    margin-bottom: 16px;
  }
}
